.slider{
    z-index: 1;
    padding-top : 58px;
}

.ul {
   list-style-type: none;  
}

#pic2 {
    display: none;
}

#pic3 {
    display: none;
}

#pic4 {
    display: none;
}

#hy_button{
    z-index: 2;
}


@media only screen and (max-width: 700px){
    
    .slider button{
        font-size: 5px;
}

    
    
